@import '/lib/core.css';
@import '/lib/palettes/green-tonal.css';
@import '/lib/components/button.css';
@import '/lib/components/toggle-button.css';
@import '/lib/components/icon-button.css';
@import '/lib/components/toggle-icon-button.css';
@import '/lib/components/switch.css';


body {
  display: grid;
  place-items: center;
}